 .row{
     display: grid;
     grid-template-columns: repeat(2, minmax(0, 1fr));
 }
 h1{
     font-size: 40px;

}
 .half-width{
    display: flex;
    justify-content: center;
 }

 .camera-img{
     width: 60%;
 }
 .col-1{
     margin-left: 10px;
 }
.link-button{
        background-color: rgb(146, 5, 52);
        border-radius: 15px;
       
    }
    .abc{
        text-decoration: None;
        padding: 10px 20px;
        border-radius: 15px;
        margin-top: 20px;
        font-weight: 50px 2px ;
        color: white;
    }
    .text{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
     /*---------------
       course style 
     -------------- */
    .courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
     }
     
    .course{
     border-radius: 10px;
     margin: 15px;
     background-color: whitesmoke;
    }
    .course img{
        padding: 15px;
        width: 90%;
    }
    .course-detail{
        margin-left: 50px;
    }
    .course-banner{
        display: flex;
        justify-content: center;
    }

    .course-info{
   
    align-items: center;
    justify-content: space-between;
    }

    .fa-star{
        font-size: 12px;
    }
   .fa-star.filled{
    color: #ffc014;
     }
     span{
         padding-left: 10px;
     }
    footer{
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: hsl(207, 69%, 23%);
        color: white;
        text-align: center;
        width: 100%;
    }
   .end{
       display: flex;
       justify-content:center;
   }
   .in{
       margin-left: 5px;
       height: 20px;
       width: 20px;
   }
   .abcd{
       text-align: right ;

   }
   .efg{
       text-decoration: none;
       color: darkred;
   }
   
   /* Media Queries */
   
   /* Mobile Devices */
   
   @media only screen and (max-width:688px) {
       .container{
           width: 100%;
           flex-direction: column;
           grid-template-columns: repeat(1, 1fr );
       }
       .courses{
        /* grid-template-columns: repeat(1, minmax(0, 1fr)); */
        display: flex;
        flex-direction: column;
         }
         .row{
             display: flex;
            justify-content: space-between;
            flex-direction: column-reverse;
            align-items: center;
        }
   }
/* Tab */
   @media only screen and (max-width:1024px) {
    .courses{
     grid-template-columns: repeat(2, minmax(0, 1fr));
      }
}
